@use '@styles/variables' as *;

.container {
	width: 100%;
	flex: 1 1 312px;
	max-width: 352px;
	min-width: 312px;
}

.anchorWrapper {
	display: block;
	text-decoration: none;
	border-radius: 8px;
	color: inherit;
	position: relative;

	&:hover {
		color: inherit;
		box-shadow: 0 0 10px rgba(55, 65, 70, 0.2);
	}
}
